email-validator
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
WTForms
astroid
autopep8
certifi
click
Flask
gunicorn
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
numpy
pycodestyle
pylint
toml
Werkzeug
wrapt
